# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env
.env.development
.env.production

pnpm-debug.log*

build
build-dev-*
build-prod-*
robots.txt

node_modules
.turbo

# declare files
i18next.d.ts

# storybook log
*storybook.log

# vite
vite.config.ts.timestamp-*
dist